<!DOCTYPE html>
<html>
<body>
<h2>DOC N°101</h2>
<span style="width: 100%;align-content: center; text-align: center;">Nouveau Salarié</span>
<table style="width:100% ; border: 1px solid black ; border-collapse: collapse; ">
    <tr>
        <th colspan="2" style="text-align: center;">M{{numero}}</th>
    </tr>
  <tr style=" border: 1px solid black ; border-collapse: collapse ">
    <th style=" border: 1px solid black ; border-collapse: collapse ">Nom</th>
    <th style=" border: 1px solid black ; border-collapse: collapse ">{{lastName}}</th>
  </tr>
</table>
</body>
</html>